[user]
	email = rf@oden.io
  name = Russ Frank
[color]
	diff = auto
	status = auto
	branch = auto
   interactive = auto
   ui = auto
[alias]
   bless = merge --no-ff --log --no-commit
   co = checkout
   br = checkout -b
   ci = commit
   unstage = reset
   tt = !git checkout --theirs $1 && git add $1
   to = !git checkout --ours $1 && git add $1
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lb = !git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	ten = !git --no-pager log -10 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	autocrlf = false
[push]
	default = current
[pull]
    default = current
[branch]
	autosetuprebase = always
[submodule]
	recurse = true
