[user]
	email = rf@oden.io
  name = Russ Frank
[color]
	diff = auto
	status = auto
	branch = auto
   interactive = auto
   ui = auto
[alias]
   bless = merge --no-ff --log --no-commit
   co = checkout
   br = checkout -b
   ci = commit
   unstage = reset
   tt = !git checkout --theirs $1 && git add $1
   to = !git checkout --ours $1 && git add $1
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr(, 1, length()-1), )}'
	ten = !git --no-pager log -10 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	autocrlf = false
[push]
	default = current
[pull]
    default = current
	rebase = true
[branch]
	autosetuprebase = always
[submodule]
	recurse = true
